.element1
{
    font-size: 25px;
    color : red;
    padding-bottom: 0px;
    text-align : center;
}

.element
{
    caption-side: top;
    text-align: center;
    font-size : 20px;
}

td, th
{
    text-align: center;
}